.slideImage {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
.leftRs {
    position: absolute;
    right: 150px;
    bottom: 60px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background: #0074ff;
    border: none;
    color: white;
}
.rightRs {
    position: absolute;
    right: 90px;
    bottom: 60px;
    width: 30px;
    border-radius: 50%;
    height: 30px;
    background: #0074ff;
    border: none;
    color: white;
}

button {
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.item {
    height: 100vh !important;
}

.myPoint {
    list-style-type: none;
    text-align: center;
    padding: 12px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    bottom: 30px;
    left: 90px;
}
.myPoint li {
    display: inline-block;
    border-radius: 50%;
    background: white;
    border: 1px solid white;
    padding: 4px;
    margin: 0 3px;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: 0.4s;
}
.myPoint li.active {
    background: none;
    transform: scale(1.4);
}

.content{
    position: fixed;
    top: 0;
    z-index: 5;
    width: calc(100% - 190px);
    margin-left: 90px;
    margin-right: 100px;
}

.content-sub{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0px;
    img {
        width: 50px;
    }
    a {
        text-decoration: none;
        font-size: 16px;
        padding: 0% 20px;
        font-family: 'Open Sans', sans-serif;
        color: white;
        text-transform: uppercase;
    }
    .extra-space {
        flex: 1 1 0%;
    }
    mat-icon {
        color: white;
        font-size: 26px;
        padding: 0% 10px;
    }
}

.main-content {
    padding-top: 90px;
    color: white;
    display: flex;
    flex-direction: column;
    h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 50px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    p {
        font-family: 'Questrial', sans-serif;
        line-height: 12px;
    }
    button {
        width: 200px;
        height: 45px;
        background: #0074ff;
        border: none;
        color: white;
        border-radius: 22px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        img{
            width: 10px;
            padding-left: 10px;
        }
    }
}
button:active {
    background: #025cca;
}

.p-10 {
    padding:10px 0px;
}