<div class="content">
  <div class="content-sub">
    <img src="https://img.icons8.com/plasticine/2x/elephant.png" alt="">
    <span class="extra-space"></span>
    <a href="#">shows</a>
    <a href="#">shedule</a>
    <a href="#">sign in</a>
    <mat-icon>search</mat-icon>
    <mat-icon>menu</mat-icon>
  </div>
  <div class="main-content">
    <p>NEW EPISODE</p>
    <h1>Amazing Facts</h1>
    <h1>about Elephants</h1>
    <div class="p-10"></div>
    <p>Elephants are the biggest lang animals on Earth</p>
    <p>and eat an incredible 50 tonnes</p>
    <div class="p-10"></div>
    <button> Watch now <img src="assets/60758.svg" alt=""> </button>
  </div>
</div>
<div class="carousal-div">
  <ngu-carousel #myCarousel1 [inputs]="carouselConfig" [dataSource]="images">
    <div *nguCarouselDef="let item;" class="item">
      <img class="slideImage" src="{{item}}" alt="Comapny Image">
    </div>
    <!-- <div class="btn-pnt"> -->
    <button NguCarouselNext class="rightRs">></button>
    <button NguCarouselPrev class="leftRs"><</button>
    <ul class="myPoint" NguCarouselPoint>
      <li *ngFor="let j1 of myCarousel1.pointNumbers; let j = index" [class.active]="j == myCarousel1.activePoint"
        (click)="myCarousel1.moveTo(j)">
      </li>
    </ul>
    <!-- </div> -->
  </ngu-carousel>
</div>